SELECT		ID_COMPANY, USE_DEFAULT,COUNT(*) AS 'Колличество реквизитов'
FROM		LIST_REQUIS_COMPANY
GROUP BY	ID_COMPANY, USE_DEFAULT
HAVING      (COUNT(*) > 1) AND (USE_DEFAULT = 'True')
ORDER BY	ID_COMPANY